 :root {
     --mainColor: #323235;
     --secondaryColor: #8A0035;
     --textColor: #f6f6f6;
 }

 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 80px;
     width: 100%;
     padding: 0 2rem;
     background: none;
     color: var(--textColor);
     position: fixed;
     transition: 0.4s;
     top: -80px;
 }

 .header.active {
     background: rgb(50, 50, 53, 1);
     box-shadow: 0px 5px 30px 10px rgba(50, 50, 53, 0.7);
     transition: 0.4s;
     top: 0;
 }

 .particles {
     visibility: visible;
     transition: 2s;
     opacity: 0.4s;
 }

 .particles.active {
     visibility: hidden;
     opacity: 0;
     transition: 0.4s;
 }

 nav a {
     margin: 0 1rem;
     color: var(--textColor);
     text-decoration: none;
     font-size: 1.2rem;
     cursor: pointer;
 }

 .pdf {
     margin: 0 1rem;
     color: var(--textColor);
     background-color: var(--secondaryColor);
     text-decoration: none;
     font-size: 1.2rem;
     border: 1px solid var(--mainColor);
     ;
     width: 80px;
     cursor: pointer;
 }

 .pdf:hover {
     color: var(--textColor);
     border: 1px solid var(--textColor);
     transition: 0.3s;
 }

 h3,
 h3 span {
     font-size: 2.5rem;
     font-weight: 900;
     color: var(--textColor);
 }

 h3 span {
     color: var(--secondaryColor);
 }

 nav a:hover {
     color: var(--secondaryColor);
     transition: 0.3s;
 }

 header .nav-btn {
     padding: 5px;
     cursor: pointer;
     background: transparent;
     border: none;
     outline: none;
     color: var(--textColor);
     visibility: hidden;
     opacity: 0;
     font-size: 1.8rem;
 }

 header .nav-btn:hover {
     color: var(--secondaryColor);
     transition: 0.2s;
 }

 header div,
 nav {
     display: flex;
     align-items: center;
 }

 @media only screen and (max-width: 1024px) {
     header .nav-btn {
         visibility: visible;
         opacity: 1;
     }

     header nav {
         position: fixed;
         top: -100vh;
         left: 0;
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1.5rem;
         background-color: var(--mainColor);
         transition: 1s;
         z-index: 1;
     }

     header .responsive_nav {
         transform: translateY(100vh);
     }

     nav .nav-close-btn {
         position: absolute;
         top: 2rem;
         right: 2rem;
     }

     nav a {
         font-size: 1.5rem;
     }
 }